@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 3rem;
   /* Colors */
   
    --dark-color: #121212;
    --dark-color-medium: #142b55bd;
    --light-color: #ffffff;
    --border-grey:#8f8f8f3f;
    
  
    /* Font Size */
    --mobile-font-base: .8rem;
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
body {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

.nav__item {
    cursor: pointer;
   
}

.empty-cont-span {
    display: grid;
    place-content: center;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 4rem;
    color: rgb(185, 184, 184);
}
.index-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub-title {
    font-size: .7rem;
    letter-spacing: .5px;
    color: rgba(199, 198, 198, 0.863);
    font-weight: 200;
}
#logo {
    position: fixed;
    top: 0;
    left: 50%;
    width: 7rem;
    height: 2rem;

    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    transform: translate(-50%);
    background-color: #29539b48;
    background-image: linear-gradient(315deg, #29539b5d 0%, #1e3b704f 74%);
    backdrop-filter: blur(1rem);
    text-align: center;
}
#logo h1 {
    color: white;
    font-size: .7rem;
    letter-spacing: 1px;

}  
.copy-alert {
 
   width: 12rem;
   border-radius: 1rem;
   aspect-ratio: 1.5 / .8;
   display: grid;
   place-content: center;
   position: absolute;
   top: 50%;
   left: 50%;
   color: white;
   text-transform: uppercase;
   letter-spacing: 1px;

   transform: translate(-50%,-50%);

   
}  
.glass-background {
    background-color: #29539b48;
    background-image: linear-gradient(315deg, #29539b3a 0%, #1e3b702f 74%);
    backdrop-filter: blur(2rem);

}
.background-gradient {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

}
/* Navbar */
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.box {
    display: grid;
    place-content: center;
    border-radius: 1rem;
    transition: .4s;
    min-width:70vw;
    min-height: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    /* background-color: hsl(0, 0%, 100% / 0.1); */
    backdrop-filter: blur(2rem);
    color: #ffffff;
}

i {
    color: var( --light-color);
}
@media screen and (min-width: 968px) {
  

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        margin: var(--header-height) 0 0 0;

        color: var(--light-color);

    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    /* Layout */

    .container {
        max-width: 968px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* Header */

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 150;
        transition: .4s;
    }

     /* Nav */
     
     .nav {
         height: var(--header-height);
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .nav__img {
         width: 30px;
         border-radius: 50%;
     }

     .nav__logo {
         color: var(--ligtht-color);
         font-weight: 600;
     }


}


.nav__list,
.nav__link {
    display: flex;
}
.nav__list {
    justify-content: space-around;
    padding: 0;
}
.nav__link {
    
    align-items: center;
    row-gap: 4px;
    

}
.nav__icon {
    font-size: 1.5rem;
}




@media screen and (max-width: 320px) {
    /* .nav_name{
        display: none;
    } */
}  

@media screen and (min-width: 576px) {
    .nav_list {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 767px) {
    ul {
        list-style: none;
    }
    body {
        margin: 0;
    } 
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
   
}

@media screen and (min-width: 55em) {
    .hidden {
        display: none;
    }
    .nav__list > * {
        padding-right: 1rem;
    }
   
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .box {
        display: grid;
        place-content: center;
        border-radius: 1rem;
      
        min-width:30vw;
        min-height: 20vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        backdrop-filter: blur(2rem);
        transition: .4s;
       
    }
    .track-code-cont {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
         
     }
     .track{
        padding: 3.3rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
       text-align: center;
       width: 40vw;
     
        
     }
     .track-input {
        background: none;
        background-color: var(--dark-color-medium);
        outline: none;
      
        border-radius: .5rem;
        color: var(--light-color);
        padding: .9em;
        letter-spacing: .9px;
        font-size: .85rem;
        line-height: 1.6rem;
        font-weight: 300;
        flex: 3;
        text-align: start;
        padding-left: .8rem;
     }
     .track-label {
        color:var(--light-color);
        font-size: .9rem;
        padding-right: .5rem;
        flex: 1;
        letter-spacing: .8px;
        font-weight: 200;
     }
     .add-title {
        letter-spacing: .8px;
        font-weight: 200;
     }
     .section-header-title {
        color: white;
        margin-bottom: .5rem;
        font-weight: 300;
        text-transform: uppercase;
        font-size: .8rem;
        /* padding-left: 1rem; */
        letter-spacing: .8px;
    }
  }

  /*Navbar Ends */

  .main-container {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  }
  .track-code-cont {
      border-radius: 1rem;
      max-width: 50rem;
      margin: auto;
  
      display: grid;
      place-content: center;
      grid-template-columns: 1fr 1fr;
      
  }

 /* 767px */
 @media screen and (max-width: 55em){ 
     body {
         color: white;
     }
   
    .section-header-title {
        color: white;
        margin-bottom: .5rem;
        font-weight: 300;
        text-transform: uppercase;
        font-size: .6rem;
        /* padding-left: 1rem; */
        letter-spacing: .8px;
        cursor: pointer;
    }
    
    .nav__menu {
        
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #29539b48;
        background-image: linear-gradient(315deg, #29539b5d 0%, #1e3b704f 74%);
        backdrop-filter: blur(1rem);
        width: 100%;
        height: 4rem;
        padding: 0 ;
        display: grid;
        align-items: center;
        /* border-radius:  1.25rem  0 ; */
        transition: .4s;
        z-index: 1000;


    }
    .track-code-cont {
        
        grid-template-columns: 1fr ;
        
    }
   .track{
       padding: 1.3rem;
       margin-bottom: 2rem;
       border-radius: 1rem;
      text-align: center;
      width: 85vw;
       
   }
   .track-input {
       background: none;
       background-color: var(--dark-color-medium);
       outline: none;
       border-radius: .5rem;
       color: var(--light-color);
       padding: .5em;
       letter-spacing: .9px;
       font-size: .65rem;
       line-height: 1.6rem;
       font-weight: 300;
       flex: 3;
       text-align: start;
       padding-left: .8rem;
   }
   .track-label {
       color:var(--light-color);
       font-size: .6rem;
       flex: 1;
       letter-spacing: .7px;
       font-weight: 200;
   }
   .add-title {
       letter-spacing: .8px;
       font-weight: 200;
   }
   .storage-cont {
       display: grid;
       grid-template-columns: 1fr ;
       padding-bottom: 6rem;
   }
  
}
.button-main {
    color: var(--light-color);
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: .5em 1em;
    border-radius: 1rem;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: .7rem;
    font-weight: 300;
    transition: all .4s ease;

}
.button-main:hover {
    background-color: rgba(255, 255, 255, 0.733);
    color: var(--dark-color-medium);
    transition: all .4s ease;
    border: 1px solid transparent;
}


.package-container {
    grid-template-rows: 1fr 4fr;
    padding-block: 5rem;
}
.inner-nav > *:hover {
    border-bottom: 2px solid white;
    padding-bottom: .3rem;
    transition: .3s ease;


}

.active-inner-nav {
    border-bottom: 2px solid white;
    padding-bottom: .3rem;
    transition: .3s ease;

}

.inner-nav-child-cont {
    background-color: #29539b48;
    background-image: linear-gradient(315deg, #29539b3a 0%, #1e3b702f 74%);
    backdrop-filter: blur(2rem);
    width: 90vw;
    border-radius: 1rem;
    margin-inline:auto;
    color: white;
    min-height: 30rem;


    

}
.packages-cont {
   
  
   
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 23rem;
    overflow-y: scroll;
    gap:1rem;
    padding-bottom: 4rem;
}
.item-cont {

    display: flex;
    align-items: center;
    background-color: var(--dark-color-medium);
    padding: .5rem 1.2rem;
    margin-inline: 1rem;
    border-radius: .5rem;
  

}
.item-cont  > * {
    font-size: .6rem;
    line-height: 1rem;
    letter-spacing: .7px;
    font-weight: 200;
}

.item-desc {
    padding: 1rem;
}
.item-span {
    font-weight: 300;

}
.address-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
 
   height: 95%;

    background-color: #29539b48;
    background-image: linear-gradient(315deg, #29539b3a 0%, #1e3b702f 74%);
    backdrop-filter: blur(2rem);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  flex-wrap: wrap;
    position: fixed;
    overflow-y: scroll;
    

}

@media (max-width:35em) {
    .address-container {
        gap: 7rem;
        padding-block: 10rem;
        overflow: scroll;
    }
}
.adress-section {
    
     
     display: grid;
     place-content: center;
     width: 20rem;
}
.adress-list {
    width: 20rem;
}
.address-item-cont{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 3rem;

   

}
.address-cart {
    background-color: var(--dark-color-medium);
    padding: 1em 1.3em;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 9px;
    


}
.item-p {
    color:var(--light-color);
        font-size: .6rem;
        padding-right: .5rem;
        flex: 1;
        letter-spacing: .4px;
        font-weight: 200;
}

.payment-section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.payment-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 1rem;
    
    


}
.pay-input-cont {
    max-width: 20rem;
    padding-top: .5rem;
    min-width: 19rem;
}
.pay-input {
    width: 18rem;
    background-color: transparent ;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: .9px;
    font-weight: 300;
   
}
.pay-confirm {
    text-align: center;
    cursor: pointer;
    margin: 2rem;
    


}

@media(min-width: 35em) {
    .payment-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: 1rem;
        min-width: 30rem;
        
    
    
    }
    .pay-input-cont {
        max-width: 30rem;
        padding-top: .5rem;
        min-width: 19rem;
    }
    .pay-input {
        width: 25rem;
        background-color: transparent ;
        outline: none;
        padding: 1rem;
        font-size: 1rem;
        letter-spacing: .9px;
        font-weight: 300;
       
    }
}

.connect-meta {
   
    padding: 1rem 3rem;
    border-radius: 2rem;
    color:white;
    background-color: #29539b48;
    background-image: linear-gradient(315deg, #29539b5d 0%, #1e3b704f 74%);
    backdrop-filter: blur(1rem);
    text-transform: uppercase;
    font-weight: 250;
    cursor: pointer;
    border: .1px solid white;
    letter-spacing: .3px;

}

.connect-meta:hover{
    transform: scale(1.03);
    transition: .5s ease;
}

